<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= path==='Shop'?'active ':'' %>">Shop</a>
      </li>

      <li class="main-header__item">
        <a
          href="/product-details"
          class="<%= path==='products-details'?'active ':'' %>"
          >Products</a
        >
      </li>
      <li class="main-header__item">
        <a href="/add-to-cart" class="<%= path==='add-to-cart'?'active ':'' %>"
          >Cart</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/admin/add-product"
          class="<%= path==='add-products'?'active ':'' %>"
          >Add Product</a
        >
      </li>
      <li class="main-header__item">
        <a
          href="/admin/products?edit"
          class="<%= path==='products'?'active ':'' %>"
          >Admin Products</a
        >
      </li>
    </ul>
  </nav>
</header>
