<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <% if(info.length>0){ %>
      <div class="grid">
        <% info.forEach((item)=>{ %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">
              <%= item.title%>
            
            </h1>
          </header>
          <div class="card__image">
            <img
            src="<%=item.image%>"
            alt="<%= item.title%>"
            />
            <div class="card__content">
              <h2 class="product__price">$<%=item.price%></h2>
              <p class="product__description">
                <%= item.description%>
              </p>
            
             <div class="card__actions center">
                <!-- Anchor tag is used to pass data in url
                    You cannot pass data inside Button
                -->
                <a href="/product-details/<%=item.productId %>" class="btn tag">Details</a> 
                <form action="/add-to-cart" method="POST" > 
             
                    <button class="btn"><%= item.title%></button>     
                </form>
             </div>
            
            </div>
          </div>
        </article>
        <% }) %>
      </div>

      <% } else{ %>
      <h1>no product</h1>
      <% } %>
    </main>
  </body>
</html>
