<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title%></title> -->

    
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <!-- <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/" class="<%= path==='Shop'?'active ':'' %>">Shop</a>
          </li>
          <li class="main-header__item">
            <a href="/products" class="<%= path==='product'?'active ':'' %>"
              >Add Products</a
            >
          </li>
        </ul>
      </nav>
    </header> -->
    <!-- <%- include('../includes/nav.ejs')%> -->
    <%- include('../includes/nav.ejs') %>
    <main>
      <% if(info.length>0){ %>
      <div class="grid">
        <% info.forEach((item)=>{ %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">
              <%= item.title%>
             
            </h1>
          </header>
          <div class="card__image">
            <img
            
              src="<%=item.image%>"
              alt="<%= item.title%>"
            />
            <div class="card__content">
              <h2 class="product__price">$<%=item.price%></h2>
              <p class="product__description">
               <%= item.description%>
              </p>
              <div class="card__actions ">
                <form method="POST" action="/add-to-cart">
                    <!-- passing data in hidden input field  -->
                    <input type="hidden" name="productId" value="<%= item.productId%>">
                  <button class="btn">Add to Cart</button>
                </form>
              </div>
            </div>
          </div>
        </article>
        <% }) %>
      </div>

      <% } else{ %>
      <h1>no product</h1>
      <% } %>
    </main>
  </body>
</html>
