<%- include('../includes/nav.ejs') %>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/product.css" />
</head>

<body>
  <h1>Product Details</h1>
  <div >

    <article class="card product-item">
  
            <header class="card__header">
              <h1 class="product__title">
                <%= title%>
          
            </header>
            <hr>
            <div class="card__image">
              <img
              
                src="<%=image%>"
                alt="<%= title%>"
              />
              <hr>
              <div class="card__content">
                <h2 class="product__price">$<%=price%></h2>
                <p class="product__description">
                 <%= description%>
                </p>
                <div class="card__actions ">
                  <%- include('../includes/add-to-cart.ejs',{item:productId}) %> 
                </div>
              </div>
            </div>
          </article>
  </div>
</body>